---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

.center-image{
  display: block;
  margin: 0 auto;
}

blockquote{
  border: solid 1px black;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #DDDDDD url(../img/guillemet.png) no-repeat;
  background-position: 20px 20px;
  background-size: 30px 30px;
  min-height: 70px;
  padding-left: 60px;
}

pre {
  background: #DDDDDD
}