<div class="col-xs-12 post-nav-buttons clearfix container-fluid">
	<div class="row visible-xs-block">
		<div class="col-xs-12">
			{% include blog/post_navigation_buttons/post_navigation_top.html %}
		</div>
		<div class="col-xs-6">
			{% include blog/post_navigation_buttons/post_navigation_previous.html %}
		</div>
		<div class="col-xs-6">
			{% include blog/post_navigation_buttons/post_navigation_next.html %}
		</div>
	</div>
	
	<div class="row hidden-xs">
		<div class="col-sm-4">
			{% include blog/post_navigation_buttons/post_navigation_previous.html %}
		</div>
		<div class="col-sm-4">
			{% include blog/post_navigation_buttons/post_navigation_top.html %}
		</div>
		<div class="col-sm-4">
			{% include blog/post_navigation_buttons/post_navigation_next.html %}
		</div>
	</div>
</div>