---
layout: frontage
title: développeur freelance Java web et Scrum master à Lille
subtitle: Présentation
description: Je réalise votre application Java web en réduisant votre TTM dans la métropole lilloise.
---
<div class="home container-fluid">
	<section id="punchline" class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
			<div id="punchline-problem">
				Si vous ne pouvez pas commercialiser votre application web rapidement, vous perdez du chiffre d'affaire !
			</div>
			<div id="punchline-solution">
				Concrétisez rapidement votre application web et boostez vos chiffre d'affaire avec Doolagile IT.
			</div>
		</div>
	</section>
	
	<section class="text-center row">
		<h1>Doolagile IT</h1>
		<img id="photograph" class="img-circle" src="{{ site.baseurl }}/img/{{ site.theme.avatar }}" alt="Photo de Rémi Doolaeghe"/>
		<h2>Par Rémi Doolaeghe</h2>
		<h3>Freelance développeur Java web et Scrum master, à Lille</h2>
		<h4>Diplômé ENSIMAG</h3>
		<h4>Partisan du <a href="http://www.agilemanifesto.org/iso/fr/">manifeste agile</a> et de l'<a href="http://manifesto.softwarecraftsmanship.org/#/fr-fr">artisanat logiciel</a></h4>
		{% include frontage/contact_button.html %}
	</section> 
	
	<section class="row">
		<div id="pitch" class="col-md-8 col-md-offset-2">
			<!--p>J'aide les équipes de développement à réaliser leurs applications web, à accélérer leur mise en production, à accroître la fiabilité de leurs livrables et à réduire leurs gaspillages.</p-->
			<p class="text-center">Je suis <strong>développeur web Java et Scrum master freelance</strong>. J'aide les porteurs de projets web à la réalisation de leur application en réduisant le <strong>Temps de Mise sur le Marché (TTM)</strong>.</p>
		</div>
	</section>
	
	<section class="row">
		<div class="text-center col-xs-12">
			<h1 class="text-center underline-title">Votre SAAS, plus vite, plus fort</h1>
		</div>
		<div class="text-center col-xs-12">
			<h2>Votre application web, vous la rêvez comment ?</h2>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-4 col-md-offset-3 col-md-2 text-center">
				<i class="fa fa-lightbulb-o fa-big"></i>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 padded-top padded-top-bg">
				<ul>
					<li>Une adéquation parfaite avec le besoin client</li>
					<li>Des fonctionnalités rapidement entre les mains de vos utilisateurs</li>
					<li>Une focalisation constante sur l'ajout de valeur fonctionnelle</li>
				</ul>
			</div>
		</div>
		<div class="text-center col-xs-12">
			<h2 class="text-center">Si votre application web souffre de :</h2>
		</div>
		<div class="col-xs-12 padded-top-bg">
			<div class="col-xs-12 col-sm-8 col-md-offset-3 col-md-4">
				<ul>
					<li>Trop de retards de livraison</li>
					<li>Faible qualité fonctionnelle</li>
					<li>Trop de maintenance et de corrections</li>
					<li>Absence de visibilité sur l'avancement</li>
					<li>Manque de focalisation sur les priorités</li>
					<li>Livraisons en production trop rares</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 text-center">
				<i class="fa fa-heartbeat fa-big"></i>
			</div>
		</div>
		<div class="text-center col-xs-12 col-md-8 col-md-offset-2 emphasis-action">
			Agissez dès maintenant
		</div>
	</section>
	<section class="row">
		<div class="col-xs-12 text-center">
			<h1 class="underline-title">L'agilité à votre service</h1>
		</div>
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
			<h2>Je développe votre application, mets en évidence les points d'amélioration organisationnels et fonctionnels, préconise des solutions et vous accompagne dans l'implémentation de ces actionnables :</h2>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-offset-3 col-md-2 text-center">
			<i class="fa fa-magic fa-big"></i>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-4 padded-top">
			<ul>
				<li>Spécification de l'application à partir du besoin utilisateur
				<li>Développement du back-end (serveur)</li>
				<li>Développement du front-end (interface utilisateur)</li>
				<li>Test et livraison</li>
				<li>Adaptation d’une méthode agile ad hoc en respect avec votre organisation</li>
				<li>Définition des outils et métriques de suivi agiles</li>
				<li>Réduction des tâches à faible valeur ajoutée</li>
				<li>Mise en place de pratiques d’artisanat logiciel (TDD, revue de code, intégration continue…)</li>
				<li>Brown bag sessions (formation) pour sensibiliser les différents acteurs aux points d’amélioration et leurs solutions</li>
			</ul>
		</div>
	</section>
	<section class="row">
		<div class="text-center col-xs-12">
			<h1 class="underline-title">Atteignez vos objectifs</h1>
		</div>
		<div class="text-center col-xs-12">
			<h2>Soyez gagnants sur tous les plans !</h2>
		</div>
		<div class="col-xs-12 padded-top-bg">
			<div class="col-xs-12 col-sm-8 col-md-offset-3 col-md-4">
				<ul>
					<li>Délais fiabilisés</li>
					<li>Application fiabilisée</li>
					<li>Temps de maintenance réduit</li>
					<li>Temps de travail à valeur métier maximisé</li>
					<li>TTM minimisé</li>
					<li>Application répondant parfaitement au besoin utilisateur</li>
					<li>Lisibilité de l'état d'avancement</li>
					<li>Réactivité optimale face à l'évolution du marché</li>
					<li>Feedback rapide</li>				
					<li>Adaptabilité au changement</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 text-center">
				<i class="fa fa-line-chart fa-big"></i>
			</div>
		</div>
	</section>
	<section class="row">
		<div class="text-center col-xs-12">
			<h1 class="underline-title">Comment ça marche ?</h1>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-3 text-center">
				<i class="fa fa-list-alt fa-md"></i>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 text-justify how-it-works-step">
				Je propose des offres à partir de 420 € HT/jour en régie, ou des forfaits à périmètre maîtrisé, attaquent chacune votre problématique sous un angle différent. 
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-3 text-center">
				<i class="fa fa-coffee fa-md"></i>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 text-justify how-it-works-step">
				Je me déplace dans le lieu de votre choix au sein de la métropole lilloise pour vous rencontrer et échanger autour de vos problématiques afin de définir la prestation répondant au mieux à votre besoin.
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-3 text-center">
				<i class="fa fa-desktop fa-md"></i>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 text-justify how-it-works-step">
				J’intègre en régie ou à distance votre entreprise en tant que développeur web sur la durée, afin d’être plongé au cœur même de l’action pour avoir une vision exacte de la réalité, et vous apporte le niveau de service correspondant à vos attentes.
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-3 text-center">
				<i class="fa fa-cubes fa-md"></i>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 how-it-works-step text-justify">
				Je peux vous apporter plusieurs niveaux de prestation :
				<ul>
					<li>Au sein de votre service IT, j'apporte toute ma compétence technique dans la réalisation de votre application web.</li>
					<li>Je produis hebdomadairement un rapport des points d’amélioration de votre service via des préconisations et améliorations agiles à mettre en place pour tirer le meilleur de votre service.</li>
					<li>Je vous accompagne dans la mise en place des préconisations en m’impliquant directement dans le processus de mise en place agile, et vous fournis hebdomadairement un rapport d'avancement sur les initiatives en cours.</li>
					<li>J'organise des séances de formation informelle, appelées <strong>Brown Bag Sessions</strong>, en réunissant l’équipe dans un cadre bienveillant et amical afin de les sensibiliser aux thématiques visant à implémenter ces améliorations.</li>
				</ul>
			</div>
			<div class="button-zone col-xs-12">
				<a class="btn call-to-action" href="{{ site.freelanceurl }}/prestations.html">
					Découvrez mes offres
				</a>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-3 text-center">
				<i class="fa fa-plus fa-md"></i>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 how-it-works-step text-justify">
				<p>Pour plus de détails, consultez sans attendre ma <strong>page de prestations</strong> et <strong>contactez-moi</strong> afin d'organiser une rencontre.</p>
			</div>
			<div class="button-zone col-xs-12">
				{% include frontage/contact_button.html %}
			</div>
		</div>
	</section>
	<section class="row">
		<div class="text-center col-xs-12">
			<h1 class="underline-title">On n'est pas que des codeurs</h1>
		</div>
		<div class="text-center col-xs-12">
			<span class="lead">Dernières publications sur le blog</span>
		</div>
		<div class="col-xs-12 col-lg-8 col-lg-offset-2 blog padded-top">
			{% for post in site.posts | limit: 3 %}
				<div class="col-xs-12 col-md-4">
					<article class="post">          
						<h3>
							<a href="{{ post.url | prepend: site.baseurl }}">
								{{ post.title }}
							</a>
						</h3>
						{% if post.subtitle %}
							<h4>
								{{ post.subtitle }}
							</h4>
						{% endif %}
						<div class="clearfix">
							{% if post.feature-image %}
								<img src="{{ site.images }}/{{ post.feature-image }}" class="pull-left margin-right feature-image">
							{% endif %}
							<div>
								{{ post.excerpt | truncate: 400}}
							</div>
						</div>
					</article>
				</div>
			{% endfor %}
			<div class="col-xs-12 button-zone text-center">
				<a class="btn call-to-action" href="{{ site.blogbaseurl }}">
					Visitez le blog
				</a>
			</div>
		</div>		
	</section>
	
	{% include frontage/footer.html %}
</div>