---
layout: frontage
title: développeur freelance Java web et Scrum master à Lille
subtitle: Présentation
description: Je réalise votre application Java web en réduisant votre TTM dans la métropole lilloise.
---
<div class="home container-fluid">
	<section id="punchline" class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
			<div id="punchline-problem">
				L'expertise technique n'est que le premier pas vers l'excellence.
			</div>
			<div id="punchline-solution">
				L'agilité et la collaboration complètent le triptique vers le succès de votre application.
			</div>
		</div>
	</section>
	
	<section class="text-center row">
		<h1>Doolagile IT</h1>
		<img id="photograph" class="img-circle" src="{{ site.baseurl }}/img/{{ site.metatheme.avatar }}" alt="Photo de Rémi Doolaeghe"/>
		<h2>Par Rémi Doolaeghe</h2>
		<h3>Freelance Lead developer Java agile, à Lille</h2>
		<h4>Diplômé ENSIMAG</h3>
		{% include frontage/contact_button.html %}
	</section> 
	
	<section class="row">
		<div id="pitch" class="col-md-8 col-md-offset-2">
			<p class="text-center">Je suis <strong>Lead Developer Java freelance</strong>. J'aide les porteurs de projets à la réalisation de leur application en intégrant leur équipe de recherche et développement.</p>
		</div>
		<div class="col-md-4 col-md-offset-2 col-xs-12 text-center">
			<a class="btn call-to-action" href="{{ site.freelanceurl }}/plaquette.html">
				Visitez ma plaquette de compétences
			</a>
		</div>
		<div class="col-md-4 col-xs-12 text-center">
			<a class="btn call-to-action" href="{{ site.freelanceurl }}/prestations.html">
				Découvrez mes offres
			</a>
		</div>
	</section>
	<section class="row">
		<div class="text-center col-xs-12">
			<h1 class="underline-title">On n'est pas que des codeurs</h1>
		</div>
		<div class="text-center col-xs-12">
			<span class="lead">Dernières publications sur le blog</span>
		</div>
		<div class="col-xs-12 col-lg-8 col-lg-offset-2 blog padded-top">
			{% for post in site.posts limit: 3 %}
				<div class="col-xs-12 col-md-4">
					<article class="post">          
						<h3>
							<a href="{{ post.url | prepend: site.baseurl }}">
								{{ post.title }}
							</a>
						</h3>
						{% if post.subtitle %}
							<h4>
								{{ post.subtitle }}
							</h4>
						{% endif %}
						<div class="clearfix">
							{% if post.feature-image %}
								<img src="{{ site.images }}/{{ post.feature-image }}" class="pull-left margin-right feature-image">
							{% endif %}
							<div>
								{{ post.excerpt | truncate: 400}}
							</div>
						</div>
					</article>
				</div>
			{% endfor %}
			<div class="col-xs-12 button-zone text-center">
				<a class="btn call-to-action" href="{{ site.blogbaseurl }}">
					Visitez le blog
				</a>
			</div>
		</div>		
	</section>
	
	{% include frontage/footer.html %}
</div>
