---
layout: basic
---
<div class="frontage container-fluid">
	<section class="text-center row">
		<img id="photograph" class="img-circle" src="{{ site.baseurl }}/img/{{ site.theme.avatar }}" alt="Photo de Rémi Doolaeghe"/>
		<h1><span>Rémi</span> <span>Doolaeghe</span></h1>
		<h2>Artisan web Java et Coach agile</h2>
		<h3>Diplômé ENSIMAG</h3>
		<h4>Lille</h4>
		{% include contact_button.html %}
	</section> 

	<section class="row">
		<div id="pitch" class="col-md-8 col-md-offset-2">
			<!--p>J'aide les équipes de développement à réaliser leurs applications web, à accélérer leur mise en production, à accroître la fiabilité de leurs livrables et à réduire leurs gaspillages.</p-->
			<p class="text-center">J'intègre votre équipe de <strong>développement web Java et front-end</strong> pour participer à la réalisation de votre application en recourant aux hauts standards de l'industrie, coacher vos collaborateurs avec les <strong>méthodes agiles</strong> et optimiser votre <strong>forge logicielle</strong> pour un gain de temps maximal.</p>
			<p class="text-center">Je mets à votre service 5 années passées chez des éditeurs de logiciels à la pointe des pratiques méthodologiques et technologiques.</p>
		</div>
	</section>

	<section class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="margin-sm well rounded padded-sm row">
					<div class="col-md-6 col-xs-12 text-center">
						<h2>Artisanat logiciel</h2>
					</div>
					<div class="col-md-6 col-xs-12 text-justify">
						<p>Je réalise votre application web, challenge les demandes fonctionnelles pour répondre au mieux à l'intention initiale et suggère des améliorations pour faciliter la vie de vos utilisateurs. Je conçois et remanie votre application pour la maintenir à un haut niveau architectural et assure sa fiabilité par une méthodologie de tests éprouvée.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="margin-sm well rounded padded-sm row">
					<div class="col-md-6 col-xs-12 text-center">
						<h2>Coaching agilité</h2>
					</div>
					<div class="col-md-6 col-xs-12 text-justify">
						<p>J'assiste votre équipe de développement et ses interlocuteurs externes pour adapter les processes agiles à la culture de votre entreprise. J'aide chacun des membres à trouver sa place et à démontrer tout son potentiel et j'anime les rendez-vous forts du cycle de vie agile en inculquant les réflexes d'inspection et d'adaptation continue.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="margin-sm well rounded padded-sm row">
					<div class="col-md-6 col-xs-12 text-center">
						<h2>Innovation</h2>
					</div>
					<div class="col-md-6 col-xs-12 text-justify">
						<p>Je perfectionne quotidiennement mes connaissances et mes compétences en assurant une veille assidue. Je partage mes découvertes avec l'équipe pour échanger les nouveautés sur les outils, technologies modernes et méthodes récentes ou éprouvées par le temps. J'amène une culture de l'innovation et du regard critique quant aux tendances du développement.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="margin-sm well rounded padded-sm row">
					<div class="col-md-6 col-xs-12 text-center">
						<h2>Industrialisation</h2>
					</div>
					<div class="col-md-6 col-xs-12 text-justify">
						<p>J'apporte mon savoir faire afin d'éliminer les pertes de temps que des outils adaptés peuvent supprimer. J'industrialise la chaîne de construction et de déploiement de votre livrable. Je préconise l'élimination de toute opération manuelle au profit de mécaniques automatisées, rodées et maîtrisées, afin de supprimer tout risque d'erreur humaine.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<div class="button-zone">
					<a class="btn btn-primary" href="{{ site.freelanceurl }}/competences.html">
					   Venez vite découvrir ma plaquette de compétences !
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="text-center">Et vous, êtes-vous un artisan agile ?</h2>
			<div class="rounded padded-md well">
				<ol>
					<li>Pouvez-vous créer votre livrable en un clic ?</li>
					<li>Effectuez-vous des constructions de livrable a minima chaque jour ?</li>
					<li>Avez-vous toujours à disposition un livrable du jour-même ?</li>
					<li>Avez-vous des spécifications fonctionnelles et techniques ?</li>
					<li>Les développeurs effectuent-ils des revues de code ?</li>
					<li>Les développeurs écrivent-ils des tests avant leur implémentation ?</li>
					<li>Les développeurs peuvent-ils effectuer les remaniements de code nécessaires ?</li>
					<li>Votre chef produit est-il à portée de voix par tous les développeurs ?</li>
					<li>Faîtes-vous régulièrement des rétrospectives agiles ?</li>
					<li>Votre vélocité est-elle au moins de 50% ?</li>
					<li>Vos applications sont-elles versionnées ?</li>
					<li>Vos déploiements sont-ils automatisés ?</li>
				</ol>
			</div>
			<p class="lead text-center">S'il vous manque quelques oui, je peux vous aider à les récupérer. Pour découvrir comment je peux répondre à votre problématique !</p>
			<div class="text-center">
				<div class="button-zone">
					<a class="btn btn-primary" href="{{ site.freelanceurl }}/offres.html">
						Découvrez mes offres
					</a>
				</div>
				<p>ou</p>
				{% include contact_button.html %}
			</div>
		</div>
		
	</section>

	<section class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<p class="lead">Juste envie de socialiser ?</p>
			
			<div class="button-zone">
				<a href="{{site.theme.linkedin}}" title="Mon profil LinkedIn"><img class="social-link" src="{{ site.baseurl }}/img/Logo-2C-PMS-2in-TM.svg"/></a>
				<a href="https://twitter.com/{{ site.theme.twitter }}" title="Mon fil twitter"><img class="social-link" src="{{ site.baseurl }}/img/TwitterLogo.svg"/></a>
			</div>
			
			<p class="lead">Ou de vous cultiver sur l'agilité et le développement web ?</p>
			<div class="button-zone">
				<a class="btn btn-primary" href="{{ site.blogbaseurl }}">
					Visitez le blog On n'est pas que des codeurs
				</a>
			</div>
		</div>
	</section>
</div>