<header class="frontage">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div id="navbar" class="navbar-collapse collapse">
				<div class="nav navbar-nav">
					<div class="btn-group">
						<a class="btn btn-default" href="/">Présentation</a>
						<a class="btn btn-default" href="{{ site.baseurl }}/freelance/plaquette.html">Plaquette</a>
						<a class="btn btn-default" href="{{ site.baseurl }}/freelance/prestations.html">Prestations</a>					
						<a class="btn btn-default" href="{{ site.blogbaseurl }}/">Blog</a>
					</div>
				</div>
			</div>			
		</div>
	</nav>
</header>