<div class="row">
	<div class="col-xs-12 table-responsive">
		<table class="table">
			<thead class="text-center">
				<td><h2>Formule <strong>Modem</strong></h2></td>
				<td><h2>Formule <strong>ADSL</strong></h2></td>
				<td><h2>Formule <strong>Fibre</strong></h2></td>
				<td><h2>Formule <strong>LAN</strong></h2></td>
			</thead>
			<tr>
				<td>{% include frontage/offer_A.html %}</td>
				<td>{% include frontage/offer_A.html %}</td>
				<td>{% include frontage/offer_A.html %}</td>
				<td>{% include frontage/offer_A.html %}</td>
			</tr>
			<tr>
				<td class="disabled">{% include frontage/offer_B.html %}</td>
				<td>{% include frontage/offer_B.html %}</td>
				<td>{% include frontage/offer_B.html %}</td>
				<td>{% include frontage/offer_B.html %}</td>
			</tr>
			<tr>
				<td class="disabled">{% include frontage/offer_C.html %}</td>
				<td class="disabled">{% include frontage/offer_C.html %}</td>
				<td>{% include frontage/offer_C.html %}</td>
				<td>{% include frontage/offer_C.html %}</td>
			</tr>
			<tr>
				<td class="disabled">{% include frontage/offer_D.html %}</td>
				<td class="disabled">{% include frontage/offer_D.html %}</td>
				<td class="disabled">{% include frontage/offer_D.html %}</td>
				<td>{% include frontage/offer_D.html %}</td>
			</tr>
			<tfoot>
				<td><strong>420€/jour</strong></td>
				<td><strong>450€/jour</strong></td>
				<td><strong>500€/jour</strong><br>ou<br><strong>450€/jour + variable sur objectif</strong></td>
				<td><strong>TJM selon projet</strong></td>
			</tfoot>
		</table>
	</div>
</div>
