<ul>
	<li>Rédaction des spécifications</li>
	<li>Implémentation de l'application</li>
	<li>Tests automatisés (unitaires, intégration)</li>
	<li>Maintenance évolutive</li>
	<li>Mise en production</li>
	<li>Correction des incidents</li>
	<li>Collaboration avec les intervenants de l'application</li>
	<li>Montée en compétences de l'équipe de développement</li>
	<li>Soutien technique et aide aux juniors</li>
	<li>Référent technique des choix technologiques</li>
	<li>Interlocuteur privilégié de l'architecte et chef de projet</li>
</ul>
