<header class="blog">
	<nav class="navbar navbar-default navbar-top">
		<div class="container">
			<div class="navbar-header">
				<a href="{{ site.baseurl }}/">
					<img style="display: inline-block" id="photograph" src="{{ site.baseurl }}/img/{{ site.theme.avatar }}" alt="Photo de Rémi Doolaeghe"/>	
					<span class="visible-xs-inline-block">
						<h1>{{ site.theme.title }}</h1>
						<h2>Rémi Doolaeghe</h2>
					</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">			
					<li>
						<a href="/">Accueil</a>
					</li>
					<li>
						<a href="{{ site.blogbaseurl }}">Actualites</a>
					</li>
					<li>
						<a href="{{ site.blogbaseurl }}/categories/lesmainsdanslecambouis">Les mains dans le cambouis</a>
					</li>
					<li>
						<a href="{{ site.blogbaseurl }}/categories/lachezlesclaviers">Lâchez les claviers</a>
					</li>
					<li>
						<a href="{{ site.blogbaseurl }}/categories/pausecafe">Pause café</a>
					</li>
					<!-- Social icons from Font Awesome, if enabled -->
					{% include icons.html %}
				</ul>
			</div>
			
		</div>
	</nav>
</header>