<div>
  <a href="{{ site.blogbaseurl }}/"><h2>Actualités<h2></a>
</div>
<hr>
<div>
  <h2>Archive par thème<h2>
</div>
<div>
  <a href="{{ site.blogbaseurl }}/categories/lesmainsdanslecambouis">Les mains dans le cambouis</a>
</div>
<div>
  <a href="{{ site.blogbaseurl }}/categories/lachezlesclaviers">Lâchez les claviers</a>
</div>
<div>
  <a href="{{ site.blogbaseurl }}/categories/pausecafe">Pause café</a>
</div>
<hr>
<div>
  <h2>Archive par tag<h2>
  Section à venir
</div>
<hr>
<a href="http://lescastcodeurs.com"><img border="0" alt="J'ecoute les Cast Codeurs" src="http://lescastcodeurs.com/images/promo/jecoute_les_castcodeurs_200px.png" /></a>