<nav>
  <div>
    <h2>Actualités</h2>
  </div>
  <div class="section">
    <a href="{{ site.blogbaseurl }}/">Articles récents</a>
  </div>
  <hr>
  <div>
    <h2>Archive par thème</h2>
  </div>
  <div class="section">
    <div>
      <a href="{{ site.blogbaseurl }}/categories/lesmainsdanslecambouis">Les mains dans le cambouis</a>
    </div>
    <div>
      <a href="{{ site.blogbaseurl }}/categories/lachezlesclaviers">Lâchez les claviers</a>
    </div>
    <div>
      <a href="{{ site.blogbaseurl }}/categories/pausecafe">Pause café</a>
    </div>
  </div>
  {%if include.tags %}
    <hr>
    <h2>Articles associés</h2>

    <div class="section">
    {% for tag in include.tags %}
      {% assign counter = '0' %}
        {% for p in site.posts %}
          {% if p.tags contains tag and counter < '3' and p.title != include.title %}
            {% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
            {%if counter == '1'%}
              <h3>{{ tag }}</h3>
              <div class="subSection">
            {%endif%}
              <div>
                <a href="{{ p.url }}" title="{{ p.title }}">
                  <img src="{{ site.images }}/{{ p.feature-image }}" class="feature-image-small">
                  <p>{{ p.title }}</p>
                </a>
              </div>
              <div style="clear: left" class="exceprt">
                {{ p.excerpt | markdownify | truncatewords: 20 }}
              </div>
          {% endif %}
        {% endfor %}
        {%if counter > '1'%}
          </div>
        {%endif%}
      {% endfor %}
    </div>
  {% endif %}
  <hr>
  <a href="http://lescastcodeurs.com"><img border="0" alt="J'ecoute les Cast Codeurs" src="http://lescastcodeurs.com/images/promo/jecoute_les_castcodeurs_200px.png" /></a>
</nav>