<div class="share">
	<span class="share-button">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="remidoolaeghe">Tweet</a>
	</span>
	<span class="share-button">
		<iframe src="http://www.facebook.com/plugins/like.php?href={{ page.url | prepend: site.baseurl | prepend: site.url }}&layout=box_count&show_faces=true&width=65&action=like&font=arial&colorscheme=light&height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:65px; height:65px; margin-top:3px;" allowTransparency="true"></iframe>
	</span>
	<span class="share-button">
		<g:plusone size="tall"></g:plusone>
	</span>
	<span class="share-button">
		<script type="IN/Share" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}" data-counter="top"></script>
	</span>
</div>