.frontage{
	#photograph{
		width: 200px;
		height: 200px;
	}
	
	#pitch{
        font-size: 1.4em;
        font-style: italic;
    }
	
	#ensimag-logo{
		height: 5em;
	}
	
	.social-link{
		@extend .padded-md;
		height: 80px;
	}
}

.skills{
	.skill-item{	
		display: inline-block;
		padding: 10px;
		vertical-align: middle;
	
		img{
			max-height: 100px;
			max-width: 200px;
		}
	}
	
	h2, h3 {
		display: inline-block;
		padding-bottom: 5px;
		position: relative;
		margin: 30px auto;
		
		&:before{
		  content: "";
		  position: absolute;
		  width: 70%;
		  bottom: 0;
		  left: 15%;
		  border-bottom: 2px solid $half-underline-color;
		}
	}
	
	h4{
		margin: 0;
	}
	
	.mission-header{
		padding: 15px 0;
	}
	
	@media(max-width: $width-xs-max){
		.mission-header{
		
			.left-align{
				text-align: left;
			}
			
			.right-align{
				text-align: right;
			}
		}
	}
	
	li{
		list-style-type: none;
		
		&:before{
			font-family: 'FontAwesome';
			content: '\f00c';
			margin: 0 10px 0 0;
			color: $check-color;
			font-size: 1.2em;
		}
	}
	
	.society-logo{
		max-height: 50px;
		max-width: 150px;
	}
}