.frontage{
	.home{
		@extend .striped-section;
		background-color: black;

		#photograph{
			width: 200px;
			height: 200px;
		}
		
		#pitch{
			font-size: 1.8em;
			font-style: italic;
		}
			
		.social-link{
			@extend .padded-md;
			height: 80px;
		}
			
		h1, h2, h3, h4 {
			font-family: 'Roboto Slab', serif;
		}
		
		h4 {
			margin: 20px 0 10px 0;
			color: $grey;
		}
		
		ol {
			li{ 
				padding:8px; 
				border-left: 1px solid $dark-grey;
			}
			
		}
	}

	.skills{
		@extend .striped-section;

		.skill-item{	
			display: inline-block;
			padding: 10px;
			vertical-align: middle;
		
			img{
				max-height: 100px;
				max-width: 200px;
			}
		}
		
		h2, h3 {
			display: inline-block;
			padding-bottom: 5px;
			position: relative;
			margin: 30px auto;
			
			&:before{
			  content: "";
			  position: absolute;
			  width: 70%;
			  bottom: 0;
			  left: 15%;
			  border-bottom: 2px solid $half-underline-color;
			}
		}
		
		h4{
			margin: 0;
		}
		
		.mission-header{
			padding: 15px 0;
		}
		
		@media(max-width: $width-xs-max){
			.mission-header{
			
				.left-align{
					text-align: left;
				}
				
				.right-align{
					text-align: right;
				}
			}
		}
		
		li{
			@extend .checked-bullet-li;
		}
		
		.society-logo{
			max-height: 50px;
			max-width: 150px;
		}
		
		.veille-img{
			max-height: 100px;
			max-width: 200px;
		}
		
		.school-logo{
			height: 100px;
		}
		
		#contents{
			margin-top: 20px;
			width: 100%;
			
			.btn{
				border:0;
				width: 25%;
				font-size: 0.8em;
				text-transform: uppercase;
				font-family: 'Orbitron', sans-serif;
			}
		}
		
		@media(max-width: $width-xs-max){
			#contents{			
				.btn{
					padding: 2px;
					font-size: 0.55em;
				}
			}
		}
	}

	.checked-bullet-li{
		list-style-type: none;
		
		&:before{
			font-family: 'FontAwesome';
			content: '\f00c';
			margin: 0 10px 0 0;
			color: $check-color;
			font-size: 1.2em;
		}
	}

	.offers{
		@extend .striped-section;

		tr {
			td{
				width: 25%;
			}
		
			ul > li{
				@extend .checked-bullet-li;
			}
			
			&.disabled {
				ul > li{
					color: $grey;
					
					&:before{
						color: $grey;
					}
				}
			}
			
			.price-cell{
				padding: 20px 0 50px 0;
			}
		}
			
		table{
		}
		
		th{
			text-align: center;
		}
		
		td {
			
		}
		
		td:nth-child(3){
			background-color: #dff0d8;
		}
		
		tfoot{
			td{
				text-align: center;
				padding: 50px 0;
			}
		}
		
		.lead{
			font-size: 1.6em;
			font-style: italic;
		}
				
		.table{
			margin-bottom: 0;
		}
	}

	.navbar {
		text-align: center;
		margin-bottom: 0;
		width: 100%;
		background-color: white;
		border: none;
		
		.btn-group{
			width: 100%;
			
			.btn-default{
				color: white;
				background: linear-gradient(to bottom, rgba(232,239,244,1) 0%,rgba(177,188,193,1) 50%,rgba(177,188,193,1) 100%);
				
				&:hover{
					background: linear-gradient(to bottom, rgba(177,188,193,1) 0%,rgba(177,188,193,1) 50%,rgba(232,239,244,1) 100%);
				}
			}	
		}
		
		.navbar-nav{
			display: inline-block;
			float: none;
			width: 100%;
			margin: 5px 0;
		}
		
		.btn{
			width: 25%;
			text-transform: uppercase;
			font-family: 'Orbitron', sans-serif;
			border: 0;
		}
	}
	
	.fa-big{
		font-size: 150px;
		padding: 30px;
	}
	
	.fa-small{
		font-size: 30px;
		padding: 10px;
	}
}
