.frontage{
	@extend .striped-section;

	#photograph{
		width: 200px;
		height: 200px;
	}
	
	#pitch{
        font-size: 1.4em;
        font-style: italic;
    }
	
	#ensimag-logo{
		height: 5em;
	}
	
	.social-link{
		@extend .padded-md;
		height: 80px;
	}
}

.skills{
	@extend .striped-section;

	.skill-item{	
		display: inline-block;
		padding: 10px;
		vertical-align: middle;
	
		img{
			max-height: 100px;
			max-width: 200px;
		}
	}
	
	h2, h3 {
		display: inline-block;
		padding-bottom: 5px;
		position: relative;
		margin: 30px auto;
		
		&:before{
		  content: "";
		  position: absolute;
		  width: 70%;
		  bottom: 0;
		  left: 15%;
		  border-bottom: 2px solid $half-underline-color;
		}
	}
	
	h4{
		margin: 0;
	}
	
	.mission-header{
		padding: 15px 0;
	}
	
	@media(max-width: $width-xs-max){
		.mission-header{
		
			.left-align{
				text-align: left;
			}
			
			.right-align{
				text-align: right;
			}
		}
	}
	
	li{
		@extend .checked-bullet-li;
	}
	
	.society-logo{
		max-height: 50px;
		max-width: 150px;
	}
	
	.veille-img{
		max-height: 100px;
		max-width: 200px;
	}
}

.checked-bullet-li{
	list-style-type: none;
	
	&:before{
		font-family: 'FontAwesome';
		content: '\f00c';
		margin: 0 10px 0 0;
		color: $check-color;
		font-size: 1.2em;
	}
}

.offers{
	@extend .striped-section-reverse;

	tr {
		td{
			width: 25%;
		}
	
		ul > li{
			@extend .checked-bullet-li;
		}
		
		&.disabled {
			ul > li{
				color: $grey;
				
				&:before{
					color: $grey;
				}
			}
		}
		
		.price-cell{
			padding: 30px;
		}
	}
		
	table{
	}
	
	th{
		text-align: center;
	}
	
	td {
		
	}
	
	td:nth-child(3){
		background-color: #dff0d8;
	}
	
	tfoot{
		td{
			text-align: center;
			padding: 50px 0;
		}
	}
	
	.lead{
		font-size: 1.6em;
		font-style: italic;
	}
	
	.fa-big{
		font-size: 150px;
		padding: 30px;
	}
	
	.carousel{
		.most-chosen{
			background-color: green;
		}
	}
	
	.table{
		margin-bottom: 0;
	}
}