.padded-right{
	padding-right: 20px;
}

.padded-bottom{
	padding-bottom: 20px;
}

.padded-left{
	padding-left: 20px;
}

.padded-top{
	padding-top: 20px;
}

.padded-top-bg{
	padding-top: 40px;
}

.padded-sm {
	padding: 5px;
}

.padded-md {
	padding: 10px;
}

.border-top{
	border-top: 1px solid $border-color
}

.border-right{
	border-right: 1px solid $border-color;
}

.border-left{
	border-left: 1px solid $border-color;
}

.margin-sm-right{
	margin-right: 5px;
}

.margin-sm-bottom{
	margin-bottom: 5px;
}

.margin-sm {
	margin: 5px;
}

.margin-md-top {
	margin-top: 10px;
}

.margin-md {
	margin: 10px;
}

.rounded{
	border-radius: 20px;
}

.inline-block{
	display: inline-block;
}

.striped-section-base{
	section{
		padding: 50px 0;
		background-color: white;
		
		&.no-padding{
			padding: 0;
		}
	}
}

.striped-section{
	@extend .striped-section-base;

	section{
		&:nth-of-type(even){	
			background-color: $section-background;
		}
	}
}

.striped-section-reverse{
	@extend .striped-section-base;

	section{
		&:nth-of-type(odd){	
			background-color: $section-background;
		}
	}
}

.button-zone{
	text-align: center;
	width: 100%;
	padding: 10px 0;
}

.footer{
	background-color: black;
}

body{
	font-family: $font-family;//"Source Sans Pro",Helvetica,Arial,sans-serif;
	
	&.background{
		background-image: url('/img/background.jpg');
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size: cover;
	}
}

.navbar{
	#photograph-small{
		height: 50px;
		vertical-align: top;
	}
}

.share {
	.share-button {
		display: inline-block;
		width: 70x;
		margin-right: 10px;
		vertical-align: middle;
	}
}

.underline-title {
	display: inline-block;
	padding-bottom: 5px;
	position: relative;
	
	&:before{
	  content: "";
	  position: absolute;
	  width: 70%;
	  bottom: 0;
	  left: 15%;
	  border-bottom: 2px solid $half-underline-color;
	}
}