// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// Base colors
$grey: #C5DAE8;
$deep-blue: #3080B0; 

// Header description box
$header-desc-text-color: #FFF;

// Brand colours
$background-color: #E0F0FF;

// Typography colours
$link-color: #26B398;

$section-background: #eee;
$half-underline-color: orange;
$check-color: green;
$call-out-text-color: white;
$post-border-color: $grey;
$dark-grey: #ccc;
$meta-color: #888;
$border-color: $grey;

$width-lg-min: 1200px;
$width-md-max: 1199px;
$width-md-min: 992px;
$width-sm-max: 991px;
$width-sm-min: 768px;
$width-xs-max: 767px;