<div class="bio clearfix">
	<img class="photo" src="{{ site.baseurl }}/img/{{ site.theme.avatar }}" alt="Photo de Rémi Doolaeghe"/>	
	<p>Rémi Doolaeghe est un développeur Java Web partisan du <a href="http://www.agilemanifesto.org/iso/fr/">manifeste agile</a> et de l'<a href="http://manifesto.softwarecraftsmanship.org/#/fr-fr">artisanat logiciel</a>. Il aide les équipes de développement à la réalisation de leur application orientée SAAS. Il coache avec agilité leurs collaborateurs pour les rendre ultra productifs, et optimise leur forge logicielle afin de faire fondre leur Temps de Mise sur le Marché (TTM).</p>
	<p>Il a développé son expérience pendant 5 années au service d'éditeurs de logiciels de la métropole lilloise.</p>
</div>