{% include blog/tag_computer.html %}

<div class="container-fluid sidebar">
	<h2>Actualités</h2>
	<ul class="list-unstyled">
		<li><h3><a href="{{ site.blogbaseurl }}/">Articles récents</a></h3></li>
	</ul>
	
	<h2>Archive par thème</h2>
	<ul class="list-unstyled">
		<li><h3><a href="{{ site.blogbaseurl }}/categories/lesmainsdanslecambouis">Les mains dans le cambouis</a></h3></li>
		<li><h3><a href="{{ site.blogbaseurl }}/categories/lachezlesclaviers">Lâchez les claviers</a></h3></li>
		<li><h3><a href="{{ site.blogbaseurl }}/categories/pausecafe">Pause café</a></h3></li>
	</ul>
	
	{%if include.tags %}
    <h2>Articles associés</h2>

    {% for include_tag in include.tags %}
		{% assign counter = '0' %}
		{% for p in site.posts %}
			{% if p.tags contains include_tag and counter < '3' and p.title != include.title %}
				{% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
				{%if counter == '1'%}
					{% for data_tag in site.data.tags %}
						{% if data_tag.slug == include_tag %}
							{% assign tag = data_tag %}
						{% endif %}
					{% endfor %}
					<h3>
						<a href="/blog/tag/{{ tag.slug }}/">
							<div class="tag-background padded-sm img-rounded margin-sm-bottom">
								{{ tag.name }}
							</div>
						</a>
					</h3>
				{%endif%}
				<div class="clearfix">
					<h3>
						<a href="{{ p.url }}" title="{{ p.title }}">
							{{ p.title }}
						</a>
					</h3>
					<img src="{{ site.images }}/{{ p.feature-image }}" class="feature-image-small pull-left">
					<div>
						{{ p.excerpt | markdownify | truncatewords: 20 }}
					</div>
				</div>
				
			{% endif %}
		{% endfor %}
	{% endfor %}
	{% endif %}
</div>