{% include blog/tag_computer.html %}

<article class="post">          
	<h1>
		<a href="{{ post.url | prepend: site.baseurl }}">
		 {{ post.title }}
		</a>
	</h1>
	{% if post.subtitle %}
		<h2>{{ post.subtitle }}</h2>
	{% endif %}
	<p class="post-date">
	   {{ post.date | date: "%B %-d, %Y" }}
	</p>
	<div class="tags">
		<!-- This value comes from the include tag_computer.html -->
		{{ tags_content }}
	</div>
	<div class="clearfix">
		{% if post.feature-image %}
			<img src="{{ site.images }}/{{ post.feature-image }}" class="pull-left margin-right feature-image">
		{% endif %}
		<div>
			{{ post.excerpt }}
		</div>
	</div>
	<div class="continue-reading clearfix">
		<a class="btn btn-primary pull-right" href="{{ post.url | prepend: site.baseurl }}">
		   {{ site.metatheme.str_continue_reading }}
		</a>
	</div>
</article>