---
layout: blog
---
{% if site.theme.header_text %}
<div class="call-out">
  <h1>
	{{ site.theme.header_text }}
  </h1>
</div>
{% endif %}
<div class="row">
	<div class="col-md-9">
		{% for post in paginator.posts %}
		  {% include post_short.html %}
		{% endfor %}

		{% if paginator.total_pages > 1 %}
		  <div class="row">
			<div class="col-md-6 text-center padded-md">
			{% if paginator.previous_page %}
			  <a class="btn btn-success" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
				<i class="fa fa-chevron-left"></i>
				{{ site.theme.str_prev }}
			  </a>
			{% endif %}
			</div>
			<div class="col-md-6 text-center padded-md">
			{% if paginator.next_page %}
			 <a class="btn btn-success" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
			  {{ site.theme.str_next }}
			  <i class="fa fa-chevron-right"></i>
			</a>
			{% endif %}
			</div>
		  </div>
		  {% endif %}

	</div>
	<div class="col-md-3">
	  {% include navbar.html %}
	</div>
</div>
