.site-header {
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;
  position: fixed;
  min-height: $header-height;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: $header-height;
    width: $header-height;
    float: left;
    margin-right: $header-height / 3;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }
    @media (max-width: 600px) {
      ul {
        display: inline-block;
        float: left;
        text-align: left;
        width: 100%;
      }
    }
  }
}
