.share {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: #3BC07D;

  h2{
    display: inline-block;
    height: 32px;
  }

  .buttons{
  	float:right;
	display: inline-block;
	vertical-align: bottom;
  }

  
}
