.frontage{
  .category{
    max-width: 1000px;
    margin: 0 auto;
  }

  .category-small{
    max-width: 600px;
    margin: 0 auto;
  }

  #introduction-header{
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    text-align: center;

    #photograph{
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }

    #name{
      font-size: 3.5em;
    }

    #entitlement{
     font-size: 2.5em; 
     font-style: italic
    }

    #location{
     font-size: 3em; 
     font-style: italic 
    }
  }

  section{
    border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
    width: 100%;
    padding: 80px 0;
  }

  #introduction-pitch{
    background-color: $very-light-grey;

    #pitch{
      @extend .category;
      text-align: center;

      p{
        font-size: 1.7em;
        font-style: italic;
      }
    }
	
	#ensimag-logo{
		float: left; 
		padding-right: 20px;
	}
	
	#licence{
		text-align: left;
	}	
  }

  #introduction-skills{
    h3{
      font-size: 2em;
      text-align: center;
      padding-bottom: 10px;
    }

    .introduction-skill{
      width: 420px;
      display: inline-block;
      background-color: $deep-blue-transparent;
      padding: 20px;
      margin-bottom: 50px;
      color: #FFF;
      border-radius: 15px;
      height: 250px;
      text-align: justify;
    }

    #innovation-skills{
      @extend .introduction-skill; 
      float: left;
    }

    #industrialisation-skills{
      @extend .introduction-skill;
      float: right;
    }

    #craftsmanship-skills{
      @extend .introduction-skill; 
      float: left;
    }

    #coach-skills{
      @extend .introduction-skill; 
      float: right;
    }
  }

  #quizz{
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    background-color: $quizz-yellow;
  }

  #introduction-test-yourself{
    background-color: $very-light-grey;

    p {
      font-size: 1.3em;
      text-align: center;
    }
  }

  #introduction-socialize{
    .social-icon{
      height: 60px;
      margin: 30px;
    }
  }
  
  .skill-details{
	  text-align: center;
  
	h2, h3 {
		display: inline-block;
		padding-bottom: 5px;
		position: relative;
		margin: 0 auto;
		
		&:before{
		  content: "";
		  position: absolute;
		  width: 70%;
		  bottom: 0;
		  left: 15%;
		  border-bottom: 2px solid $skills-title-underline;
		}
	}
	
	h2{
		font-size: 2em;
	}
	
	.full-width-skills-category{
		@extend .category;
		padding: 50px 0;
	}
	
	.craftsmanship-item{
		border: 1px solid $grey-background;
		border-radius: 5px;
		padding: 12px;
		margin: 3px;
		display: inline-block;
		font-family: 'open sans', helvetica, sans-serif;
	}
	
	#craftsmanship-specific{
		@extend .category;
	}
	
	#craftsmanship-front{
		width: 50%;
		float: left;
		padding: 20px 10%;
		border-right: 1px solid $grey-background;
	}
	
	#craftsmanship-back{
		width: 50%;
		float: right;
		padding: 20px 10%;
		border-left: 1px solid $grey-background;
	}
	
	.craftsmanship-subtitle{
		padding: 20px;
	}
	
	.mission{
		text-align: justify;
		background-color: $very-light-grey;
		padding: 5px 10px;
		border-radius: 20px;
		margin-bottom: 10px;
	}
  }
}

