.frontage{
  .category{
    max-width: 1000px;
    margin: 0 auto;
  }

  .category-small{
    max-width: 600px;
    margin: 0 auto;
  }

  #introduction-header{
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    text-align: center;

    #photograph{
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }

    #name{
      font-size: 3.5em;
    }

    #entitlement{
     font-size: 2.5em; 
     font-style: italic
    }

    #location{
     font-size: 3em; 
     font-style: italic 
    }
  }

  section{
    border-top: 1px solid $border-color;
    width: 100%;
    padding: 80px 0;
  }

  #introduction-pitch{
    background-color: $very-light-grey;

    #pitch{
      @extend .category;
      text-align: center;

      p{
        font-size: 1.7em;
        font-style: italic;
      }
    }
  }


  #introduction-skills{

    h3{
      font-size: 2em;
      text-align: center;
      padding-bottom: 10px;
    }

    .skill{
      width: 420px;
      display: inline-block;
      background-color: $deep-blue-transparent;
      padding: 20px;
      margin-bottom: 50px;
      color: #FFF;
      border-radius: 15px;
      height: 250px;
      text-align: justify;
    }

    #innovation-skills{
      @extend .skill; 
      float: left;
    }

    #industrialisation-skills{
      @extend .skill;
      float: right;
    }

    #craftsmanship-skills{
      @extend .skill; 
      float: left;
    }

    #coach-skills{
      @extend .skill; 
      float: right;
    }
  }

  #quizz{
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    background-color: $quizz-yellow;
  }

  #introduction-test-yourself{
    background-color: $very-light-grey;

    p {
      font-size: 1.3em;
      text-align: center;
    }
  }

  #introduction-socialize{

    .social-icon{
      height: 60px;
      margin: 30px;
    }
  }
}

