// Header text feature
.call-out {
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  color: $header-desc-text-color;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  
  h1 {
    font-size: 1.5em;
  }
}

.page {
  @extend .layout-centre;
  margin-top: $header-height + 20px;

  @media (max-width: 1200px) and (min-width: 601px){
    margin-top: $header-height;  
  }

  @media (max-width: 600px){
    margin-top: $header-height * 2;
  }
}

.main{
  @extend .layout-centre;
  padding-right: $lateral-navbar-width;
}

@media (max-width: 768px){
  .main{
    padding-right: 0;
  }  
}

.navbar {
  display: inline-block;
  width: $lateral-navbar-width;
  margin-right: -$lateral-navbar-width;
  vertical-align:top;
  background-color: $grey-background;
  float: right;
  padding: 20px;

  .section{
    padding: 0 10px 0 10px;

    h3{
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .subSection{
      padding: 0 10px 0 10px;
    }
  }
}

@media (max-width: 768px){
  .navbar {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

// Post listing
.posts {
  @extend .left-to-navbar;

  .post-teaser {
    width: 100%;
    display: inline-block;
    background-color: $background-color;
    margin-bottom: 20px;

    p a:hover {
      @extend %link-hover;
    }

    h1{
      @extend .post-h1;

      a.post-link{
        font-size: 1em;
      }
    }

    h2 {
      @extend .post-h2;
    }

    .tags{
      @extend .post-tags;
    }

    .continue-reading {
      background-color: $grey-background;
      width: 100%;
      float: left;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}



// Pagination
.pagination {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}

.button {
  float:right;
}

.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

.pagination-previous{
  width: 50%;
  float: left;
}

.pagination-next{
 width: 50%;
  float: right; 
}
