// Header text feature
.call-out {
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  color: $header-desc-text-color;
  padding-top: $header-height + 10px;
  padding-left: 2em;
  padding-bottom: 1em;

  @media (max-width: 600px) {
    padding-top: $header-height * 2 + 10px;
  }

  h1 {
    font-size: 1.5em;
  }
}
// Post listing
.posts {
   margin-top: 50px;
   margin-left: 100px;
   width: $posts-zone-width;

  .post-teaser {
    width: 100%;
    display: inline-block;
    background-color: $background-color;
    width: $posts-zone-width;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;

    p a:hover {
      @extend %link-hover;
    }

    h1{
      @extend .post-h1;

      a.post-link{
        font-size: 1em;
        color: $header-desc-background-color;  
      }
    }

    h2 {
      @extend .post-h2;
    }

    .tags{
      @extend .post-tags;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}



// Pagination
.pagination {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}

.button {
  float:right;
}

.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

