// Header text feature
.call-out {
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  color: $header-desc-text-color;
  padding-top: $header-height + 10px;
  padding-left: 2em;
  padding-bottom: 1em;

  @media (max-width: 600px) {
    padding-top: $header-height * 2 + 10px;
  }

  h1 {
    font-size: 1.5em;
  }
}
// Post listing
.posts {
   width: auto;
   margin-left: 260px;

  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-style: italic;  
}


