// Header text feature
.call-out {
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  overflow: hidden;
  width: auto;

  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-style: italic;  
}

.navbar {
    display: inline-block;
    width: 250px;
    float:left;
    border-right: 1px solid $border-color;
    height: 100%;
}

@media (max-width: 48em) {
  .navbar {
    display: none;
  }
}