
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: $text-color;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}

.feature-image {
  max-width: 200px;
  max-height: 200px;
  float:left;
  padding-right: 10px;
  margin-top: 1em;
}

.post-content {
  display: inline-block;
  background-color: #fff;
  width: $post-content-width;
  margin-right: 90px;
  padding: 20px;
  background-color: $background-color;
  text-align: justify;

  h1 {
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 12px;
  }
}

.navbar {
  margin-top: 100px;
  padding: 20px;
  display: inline-block;
  width: $lateral-navbar-width;
  vertical-align:top;
  border-radius: 50px;
  background-color: #fff;
  background-color: $background-color;
}

@media (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

.share {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px 10px 20px;
  background-color: #3BC07D;

  h1{
    padding-top: 15px;
  }
}
