
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    @extend .post-meta;
  }
}

.feature-image {
  max-width: 200px;
  max-height: 200px;
  float:left;
  padding-right: 10px;
  margin-bottom: 1em;
}

.post-content {
  @extend .left-to-navbar;
  

  h1 {
    @extend .post-h1;
  }

  h2 {
    @extend .post-h2;
  }

  .tags{
    @extend .post-tags;
  }

  .meta {
    @extend .post-meta;
  }
}

article > :nth-child(2) {
  clear:both;
}
