---
layout: basic
---
<div id="home">
	<h1>Offres en cours de construction</h1>
	<p>Si vous souhaitez voir émerger des offres en adéquation avec vos besoins en agilité et en artisanat logiciel, contactez-moi afin de nous rencontrer. Nous pourrons avancer ensemble à dégager vos problématiques et comprendre comment je pourrais y répondre.
	{% include contact_button.html %}
    <p>Cette page est en construction et sera bientôt mise à jour avec des nouveaux contenus.
    {% include back_home_button.html %}
</div>





