---
layout: basic
---
<div class="offers">
	<div class="call-out bg-primary padded-sm">
		<h1>Mes offres de prestation</h1>
	</div>
	<section>
		<div class="row text-center lead">
			<div class="col-md-3">
				<i class="fa fa-map-signs fa-big"></i>
			</div>
			<div class="col-md-6">
				<p>Mon offre s'articule autour de 4 formules répondant chacune à des besoins spécifiques. Elles sont étudiées pour répondre aux problématiques rencontrées par les équipes de développement.</p>
				<p>Il vous est toujours possible de me contacter pour définir ensemble d'une prestation personnalisée répondant encore plus précisément à vos spécificités.</p>
			</div>
		</div>
	</section>
	<!-- table version of the offers -->
	<section class="no-padding">	
		<div class="hidden-xs">
			{% include offer_table.html %}
		</div>
		<!-- carousel version of the offers -->
		<div class="visible-xs-block">
			{% include offer_carousel.html %}
		</div>
	</section>
	<section class="row text-center">
		<div class="col-md-3">
			<i class="fa fa-question fa-big"></i>
		</div>
		<div class="col-md-6">
			<p class="lead">Ces formules ne répondent pas exactement à votre besoin ? Contactez-moi et rencontrons-nous afin de définir précisément votre problématique et la réponse que je peux vous apporter.
			{% include contact_button.html %}
			<p class="lead">Besoin de connaître davantage mon champs de compétences ?
			<div class="button-zone">
				<a class="btn btn-primary" href="{{ site.freelanceurl }}/competences.html">
					Visitez ma plaquette
				</a>
			</div>
			
		</div>
	</section>
	<div class="button-zone row col-xs-4 col-xs-offset-4 text-center">
		{% include back_home_button.html %}
	</div>
</div>