---
layout: basic
---

<div class="skills">
	<div class="call-out bg-primary padded-sm">
		<h1>Ma plaquette</h1>
	</div>
	<section class="container-fluid text-center">
		<h2 class="padded-bottom">Développement Web</h2>
		<div class="container-fluid">
			<div class="col-lg-8 col-lg-offset-2 well text-center">
				<div>
					<h3>Front-end</h3>
				</div>
				<div class="skill-item text-center">
					<img src="{{ site.skill_images }}/js-html-css.png" alt="Javascript/HTML/CSS" title="Javascript/HTML/CSS"/>
					<p>Javascript/HTML/CSS</p>
				</div>
				<div class="skill-item text-center">
					<a href="http://jasmine.github.io/">
						<img src="{{ site.skill_images }}/JasmineJS.svg" alt="Jasmine.js" title="Jasmine.js"/>
						<p>Jasmine.js</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://www.ractivejs.org/">
						<img src="{{ site.skill_images }}/RactiveJS.png" alt="Ractive.js" title="Ractive.js"/>
						<p>Ractive.js</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://requirejs.org/">
						<img src="{{ site.skill_images }}/RequireJS.jpg" alt="Require.js" title="Require.js"/>
						<p>Require.js</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://getbootstrap.com/">
						<img src="{{ site.skill_images }}/Bootstrap.jpg" alt="Twitter bootstrap" title="Twitter bootstrap"/>
						<p>Twitter Bootstrap</p>
					</a>
				</div>
			</div>
			<div class="col-lg-8 col-lg-offset-2 well text-center">
				<div>
					<h3>Back-end</h3>
				</div>
				<div class="skill-item text-center">
					<a href="https://www.java.com/fr/">
						<img src="{{ site.skill_images }}/Java.jpeg" alt="Java SE et EE" title="Java SE et EE"/>
						<p>Java</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://junit.org/">
						<img src="{{ site.skill_images }}/junit.png" alt="JUnit" title="JUnit"/>
						<p>JUnit</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://mockito.org/">
						<img src="{{ site.skill_images }}/Mockito.jpg" alt="Mockito" title="Mockito"/>
						<p>Mockito</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://weld.cdi-spec.org/">
						<img src="{{ site.skill_images }}/weld.png" alt="JBoss Weld" title="JBoss Weld"/>
						<p>JBoss Weld</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://projects.spring.io/spring-boot/">
						<img src="{{ site.skill_images }}/spring-boot.png" alt="Spring boot" title="Spring boot"/>
						<p>Spring Boot</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="https://www.mongodb.org/">
						<img src="{{ site.skill_images }}/mongodb.png" alt="MongoDB" title="MongoDB"/>
						<p>MongoDB</p>
					</a>
				</div>
				<div class="skill-item text-center">
					<a href="http://www.adobe.com/devnet/indesign/sdk.html">
						<img src="{{ site.skill_images }}/indesign-logo.png" alt="Adobe InDesign SDK" title="Adobe InDesign SDK"/>
						<p>Adobe InDesign SDK</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="container-fluid text-center">
		<h2 class="padded-bottom">Artisanat logiciel</h2>
		<div class="row">
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://fr.wikipedia.org/wiki/Test_driven_development">
					<img src="{{ site.skill_images }}/tdd.png" alt="TDD" title="Développement Dirigé par le Test">
					<p>Développement Dirigé par le Test</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://fr.wikipedia.org/wiki/Revue_de_code">
					<img src="{{ site.skill_images }}/code-review.jpg" alt="Revue de code" title="Revue de code">
					<p>Revue de code</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<img src="{{ site.skill_images }}/specs.png" alt="Spécification et Rédaction" title="Spécification et Rédaction">
				<p>Spécification et Rédaction</p>
			</div>
		</div>
	</section>
	<section class="container-fluid text-center">
		<h2>Forge logicielle</h2>
		<div class="row">
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://maven.apache.org/">
					<img src="{{ site.skill_images }}/apache_maven.png" alt="Apache Maven" title="Apache Maven"/>
					<p>Apache Maven</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://jenkins-ci.org/">
					<img src="{{ site.skill_images }}/jenkins.png" alt="Jenkins" title="Jenkins"/>
					<p>Jenkins</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="http://books.sonatype.com/nexus-book/index.html">
					<img src="{{ site.skill_images }}/nexus.png" alt="Nexus" title="Nexus"/>
					<p>Sonatype Nexus</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://git-scm.com/">
					<img src="{{ site.skill_images }}/git-logo.jpg" alt="Git" title="Git"/>
					<p>Git</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://github.com/">
					<img src="{{ site.skill_images }}/github-logo.png" alt="Github" title="Github"/>
					<p>Github</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://subversion.apache.org/">
					<img src="{{ site.skill_images }}/subversion-logo.png" alt="SVN" title="SVN"/>
					<p>SVN</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12 col-sm-offset-2 skill-item text-center">
				<a href="https://www.mantisbt.org/">
					<img src="{{ site.skill_images }}/mantis-logo.png" alt="Mantis" title="Mantis"/>
					<p>Mantis</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://eclipse.org/downloads/">
					<img src="{{ site.skill_images }}/eclipse-logo.png" alt="Eclipse" title="Eclipse"/>
					<p>Eclipse</p>
				</a>
			</div>
		</div>
	</section>
	<section class="container-fluid text-center">
		<h2>Méthodes agiles</h2>
		<div class="row">
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://fr.wikipedia.org/wiki/Scrum_(m%C3%A9thode)">
					<img src="{{ site.skill_images }}/scrum.png" alt="Scrum" title="Scrum"/>
					<p>Scrum</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="http://www.scrumwise.com/">
					<img src="{{ site.skill_images }}/scrumwise-logo.png" alt="Scrumwise" title="Scrumwise"/>
					<p>Scrumwise</p>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 skill-item text-center">
				<a href="https://fr.wikipedia.org/wiki/Kanban">
					<img src="{{ site.skill_images }}/kanban.gif" alt="Kanban" title="Kanban"/>
					<p>Kanban</p>
				</a>
			</div>
		</div>
	</section>

	<section class="container-fluid">
		<div class="text-center">
			<h2>Missions</h2>
		</div>
		<div class="row">
			<div class="well col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="http://www.fot.fr/">
							<img class="society-logo" src="{{ site.skill_images }}/FOT-logo.png" alt="Logo du groupe FOT" title="FOT imprimeurs"/>
						</a>
					</div>
					<div class="col-xs-12 mission-header">
						<div class="row text-center">
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Fonction
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>Lead Developer</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">

								<div class="col-sm-12 col-xs-4 left-align">
									Domaine fonctionnel
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>PAO, production de publications pour le print</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Durée
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									21 mois
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row padded-top border-top">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Expertise développée</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Back-end Java 7</li>
									<li>Front-end HTML5 / CSS3 / EcmaScript 5 / Ractive.js / Require.js</li>
									<li>Forge logicielle : Maven, Nexus, Jenkins, Git, Mantis</li>
									<li>Tests : JUnit4, Jasmine.js</li>
									<li>Versionning</li>
									<li>Kanban</li>
									<li>Support utilisateurs internes</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Mission</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Rédaction des spécification techniques</li>
									<li>Chiffrages</li>
									<li>Evolution applicative Java</li>
									<li>Tests automatisés</li>
									<li>Refonte d'une IHM Flex en HTML5/CSS/Javascript</li>
									<li>Responsabilité de la forge logicielle et son infrastructure</li>
									<li>Binôme de l'architecte applicatif.</li>
									<li>Responsabilité technique de l'application</li>
									<li>Aide fonctionnelle à la production en interne</li>
								</ul>
							</div>
						</div>
					</div>				
				</div>
			</div>
			<div class="well col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="http://www.perigee.fr/">
							<img class="society-logo" src="{{ site.skill_images }}/Perigee.gif" alt="Logo de Perigee" title="Perigee"/>
						</a>
					</div>
					<div class="col-xs-12 mission-header">
						<div class="row text-center">
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Fonction
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>Scrum master</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Domaine fonctionnel
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>PAO, publication multi-canale</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Durée
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									9 mois
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row padded-top border-top">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Expertise développée</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Scrum master (4 développeurs dont 2 à distance)</li>
									<li>Rédaction et spécification</li>
									<li>Java 6</li>
									<li>Tests : JUnit4, Mockito</li>
									<li>Versionning</li>
									<li>IoC avec JBoss Weld</li>
									<li>Support utilisateurs internes</li>
									<li>Chiffrages et planification</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Mission</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Mise en place des méthodes agiles avec le responsable du service R&D</li>
									<li>Management d'une équipe agile</li>
									<li>Responsabilité technico-fonctionnelle du pôle applicatif PAO</li>
									<li>Evolution du module PAO de l'application Digital Express avec le chef produit (Product Owner)</li>
									<li>Interlocuteur technico-fonctionnel principal du pôle applicatif PAO</li>
									<li>Rédaction des spécification techniques</li>
									<li>Chiffrages et planification</li>
									<li>Tests automatisés</li>
									<li>Aide fonctionnelle à la production en interne</li>
									<li>Synchronisation avec les autres pôles applicatifs</li>
								</ul>
							</div>
						</div>
					</div>				
				</div>
			</div>
			<div class="well col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="http://www.perigee.fr/">
							<img class="society-logo" src="{{ site.skill_images }}/Perigee.gif" alt="Logo de Perigee" title="Perigee"/>
						</a>
					</div>
					<div class="col-xs-12 mission-header">
						<div class="row text-center">
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Fonction
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>Responsable technico-fonctionnel</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Domaine fonctionnel
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>PAO, publication multi-canale</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Durée
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									3 mois
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row padded-top border-top">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Expertise développée</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Rédaction et spécification</li>
									<li>Java 6</li>
									<li>Tests : JUnit4, Mockito</li>
									<li>Versionning</li>
									<li>IoC avec JBoss Weld</li>
									<li>Support utilisateurs internes</li>
									<li>Chiffrages</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Mission</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Responsabilité technico-fonctionnelle du pôle applicatif PAO englobant le moteur de coulage de Digital Express, son interface intégrée à Adobe InDesign et son interaction avec le module back-end de données.</li>
									<li>Evolution du moteur de coulage avec le chef produit (Product Owner)</li>
									<li>Interlocuteur technico-fonctionnel principal du pôle applicatif PAO</li>
									<li>Rédaction des spécification techniques</li>
									<li>Chiffrages</li>
									<li>Tests automatisés</li>
								</ul>
							</div>
						</div>
					</div>				
				</div>
			</div>
			<div class="well col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="http://www.perigee.fr/">
							<img class="society-logo" src="{{ site.skill_images }}/Perigee.gif" alt="Logo de Perigee" title="Perigee"/>
						</a>
					</div>
					<div class="col-xs-12 mission-header">
						<div class="row text-center">
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Fonction
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>Développeur Java/C++</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Domaine fonctionnel
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>PAO, publication multi-canale</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Durée
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									20 mois
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row padded-top border-top">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Expertise développée</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Rédaction et spécification</li>
									<li>Java 6</li>
									<li>Tests : JUnit4, Mockito</li>
									<li>C++</li>
									<li>Adobe InDesign SDK</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Mission</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Réinternalisation et maintenance évolutive sur le plugin MCP (Multi-canal publishing) intégré à Adobe InDesign pour l'application PSS (Perigee Software Suite)</li>
									<li>Développement du moteur de coulage pour la génération automatisée de documents PAO de l'application Digital Express</li>
									<li>Pilotage d'Adobe InDesign par le moteur de coulage à travers une interface JNI</li>
									<li>Tests automatisés</li>
									<li>Rédaction des spécification techniques</li>
								</ul>
							</div>
						</div>
					</div>				
				</div>
			</div>
			<div class="well col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="https://www.it-finance.com/fr/">
							<img class="society-logo" src="{{ site.skill_images }}/it-finance.png" alt="Logo de IT-finance" title="IT-Finance"/>
						</a>
					</div>
					<div class="col-xs-12 mission-header">
						<div class="row text-center">
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Fonction
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>Développeur Java Swing</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Domaine fonctionnel
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									<h4>Finance, trading temps réel</h4>	
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="col-sm-12 col-xs-4 left-align">
									Durée
								</div>
								<div class="col-sm-12 col-xs-8 right-align">
									7 mois
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row padded-top border-top">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Expertise développée</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Rédaction et spécification</li>
									<li>Java 6</li>
									<li>Tests : JUnit4</li>
									<li>Librairie Java Swing (IHM)</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h3>Mission</h3>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>Développement Java d'une plateforme de trading temps-réel en Swing</li>
									<li>Refonte du coeur du modèle applicatif</li>
									<li>Evolution du module ProCommunity, à vocation d'ajouter une dimension sociale au trading</li>
									<li>Rédactions des spécifications techniques</li>
									<li>Tests unitaires et de validation</li>
								</ul>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</section>
	<section class="container-fluid">
		<div class="text-center">
			<h2>Ma formation</h2>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
			<span>
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<a href="http://ensimag.grenoble-inp.fr/">
						<img src="{{ site.skill_images }}/inpg.gif" class="pull-right padded-right school-logo">
					</a>
				</div>
				<div class="col-sm-8 col-xs-12 text-justify">
					<p>Diplômé 2010 en <strong>Ingéniérie des systèmes d'informations</strong> de l'<strong><a href="http://ensimag.grenoble-inp.fr/">ENSIMAG</a></strong> du groupe <strong><a href="http://www.grenoble-inp.fr/">Grenoble INP</a></strong>, qui caracole dans le top 2 des écoles d'ingénieurs françaises en informatique selon <a href="http://www.usine-digitale.fr/article/les-100-ecoles-d-ingenieurs-les-plus-innovantes-de-france.N264876">l'usine digitale</a>, <a href="http://www.meilleures-grandes-ecoles.com/classement-ecoles-d-ingenieurs-specialisees-en-informatique-post-prepa.html">l'usine nouvelle</a> et <a href="http://www.usinenouvelle.com/comparatif-des-ecoles-d-ingenieurs-2015">meilleure-grandes-ecoles</a>.
				</div>
			</span>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
			<span>
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<a href="http://www.faidherbe.org/">
						<img src="{{ site.skill_images }}/faidherbe-logo.gif" class="pull-right padded-right school-logo">
					</a>
				</div>
				<div class="col-sm-8 col-xs-12 text-justify">
					<p>Ancien préparationnaire du <strong><a href="http://www.faidherbe.org/">lycée Faidherbe</a></strong> de Lille (2005 - 2007), section <strong>MPSI/MP</strong> en vue de la préparation à l'entrée à l'<strong>ENSIMAG</strong></p>
				</div>
			</span>
		</div>
	</section>
	<section class="container-fluid">
		<div class="text-center">
			<h2>Mes valeurs</h2>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 text-justify">
			<p>Je suis développeur Web <strong>Java</strong>. A ce titre, j'ai pu <i>développer</i> des valeurs qui me tiennent à coeur.</p>
			<p>Au sein d'une équipe, j'aime tout particulièrement :</p>
			<ul>
				<li>Maximiser les interactions entre les différents collaborateurs de l'équipe</li>
				<li>Mettre l'agilité au coeur du fonctionnement de l'équipe pour maximiser leur potentiel et les aider à produire le meilleur</li>
				<li>Garder un esprit critique face à toute proposition d'introduction dans le projet d'un nouveau composant. Un outil ou une techno à la mode n'est pas forcément adapté au besoin du moment</li>
				<li>Partager et échanger sur les sujets autour du développement et de l'agilité</li>
				<li>Garder un état d'esprit de collaboration. L'équipe avance dans une seule direction, ensemble.</li>
			</ul>
			<p>Dans un projet, j'apprécie de :</p>
			<ul>
				<li>Conserver une haute qualité de code (refactoring dès que nécessaire sans laisser s'accumuler la dette technique)</li>
				<li>Pouvoir assurer une couverture de code pertinente et facile à maintenir</li>
				<li>Automatiser les tâches répétitives qui consomment inutilement le temps des collaborateurs de l'équipe</li>
				<li>Challenger le besoin utilisateur, en remettant en lumière la différence entre l'envie de l'utilisateur et son besoin réel</li>
			</ul>
			<p>Jour après jour, je suis attaché au fait de pouvoir :</p>
			<ul>
				<li>Effectuer une veille quotidienne, technologique ou méthodologique, afin de toujours rester pertinent dans mes choix et mes propositions. A ce titre, j'acquière les compétences dispensées par les meilleurs :
				<p class="text-center">
				<a href="https://lescastcodeurs.com">
					<img class="veille-img" border="0" alt="J'ecoute les Cast Codeurs" src="https://lescastcodeurs.com/images/promo/jecoute_les_castcodeurs_200px.png" />
				</a>
				<a href="http://www.devoxx.fr/">
					<img class="veille-img" src="{{ site.skill_images }}/devoxx-logo.jpg" alt="Devoxx France" title="Devoxx France"/>
				</a>
				<a href="http://chtijug.org/">
					<img class="veille-img" src="{{ site.skill_images }}/chti-jug-logo.png" alt="Chti JUG" title="Chti JUG"/>
				</a>
				<a href="http://www.agiletour.org/">
					<img class="veille-img" src="{{ site.skill_images }}/agile-tour-logo.png" alt="Agile Tour" title="Agile Tour"/>
				</a>
				</li>	
				<li>Introspecter les méthodes et les processes dans lesquels je suis impliqué et les adapter pour les optimiser à la situation et à l'organisation, à l'instar de Scrum</li>
				<li>M'impliquer dans toutes les phases du projet, de la définition du besoin en compagnie de l'utilisateur jusqu'à la mise en place de l'infrastructure et du déploiement en production</li>
			</ul>
			<p>Après avoir passé 5 années chez des éditeurs lillois à la pointe, j'aimerais partager les connaissances et compétences que j'ai acquis et vous en faire profiter.</p>
			<div class="text-center">
				<div class="button-zone">		
					<div class="btn-group" role="group">
						<a class="btn btn-primary" href="{{ site.freelanceurl }}/prestations.html">
							Découvrez mes offres
						</a>
						{% include frontage/contact_button.html %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include frontage/back_home_section.html %}
</div>


