---
layout: frontage
title: mes prestations développeur freelance Java web et Scrum master à Lille
description: Retrouvez mes formules adaptatives répondant chacune à des besoins spécifiques en développement SAAS et agilité
---
<div class="offers">
	<section>
		<div class="row text-center lead">
			<div class="col-md-3">
				<i class="fa fa-map-signs fa-big"></i>
			</div>
			<div class="col-md-6">
				<p>Je peux répondre à votre besoin en intégrant votre équipe selon le rôle qui répondra au mieux à votre problématique.</p>
			</div>
		</div>
	</section>
	<!-- table version of the offers -->
	<section class="no-padding">	
		<div class="hidden-xs">
			{% include frontage/offer_table.html %}
		</div>
		<!-- carousel version of the offers -->
		<div class="visible-xs-block">
			{% include frontage/offer_carousel.html %}
		</div>
	</section>
	<section class="row text-center">
		<div class="col-md-3">
			<i class="fa fa-question fa-big"></i>
		</div>
		<div class="col-md-6">
			<p class="lead">Besoin de connaître davantage mon champs de compétences ou mon parcours ?
			<div class="button-zone">
				<a class="btn call-to-action" href="{{ site.freelanceurl }}/plaquette.html">
					Visitez ma plaquette
				</a>
			</div>
			<p class="lead">Vous souhaitez davantage d'informations, ou me rencontrer ?
			<div class="button-zone">	
				{% include frontage/contact_button.html %}
			</div>
		</div>
	</section>
	<section id="missions" class="text-center container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p class="lead">Besoin d'un intermédiaire pour conclure une prestation ?</p>
				<p class="lead">Retrouvez moi sur Hopwork</p>
				 {% include frontage/hopwork_widget.html %}
				<p class="lead">ou sur Freelance Republik </p>
				{% include frontage/freelancerepublik_widget.html %}
				<p class="lead">ou auprès de mon partenaire Espace Freelance</p>
				<a href="http://www.espace-freelance.fr/"><img src="{{ site.frontage_images }}/logo-espace-freelance.png"></a>
			</div>
		</div>
	</section>
	{% include frontage/back_home_section.html %}
	{% include frontage/footer.html %}
</div>