---
layout: frontage
title: Rémi Doolaeghe, freelance artisan du web et coach agile
subtitle: Prestations
description: Mon offre s'articule autour de 4 formules répondant chacune à des besoins spécifiques. Elles sont étudiées pour répondre aux problématiques rencontrées par les équipes de développement.
---
<div class="offers">
	<section>
		<div class="row text-center lead">
			<div class="col-md-3">
				<i class="fa fa-map-signs fa-big"></i>
			</div>
			<div class="col-md-6">
				<p>Mon offre s'articule autour de 4 formules répondant chacune à des besoins spécifiques. Elles sont étudiées pour répondre aux problématiques rencontrées par les équipes de développement.</p>
				<p>Il vous est toujours possible de me contacter pour définir ensemble d'une prestation personnalisée répondant encore plus précisément à vos spécificités.</p>
			</div>
		</div>
	</section>
	<!-- table version of the offers -->
	<section class="no-padding">	
		<div class="hidden-xs">
			{% include frontage/offer_table.html %}
		</div>
		<!-- carousel version of the offers -->
		<div class="visible-xs-block">
			{% include frontage/offer_carousel.html %}
		</div>
	</section>
	<section class="row text-center">
		<div class="col-md-3">
			<i class="fa fa-question fa-big"></i>
		</div>
		<div class="col-md-6">
			<p class="lead">Ces formules ne répondent pas exactement à votre besoin ? Contactez-moi et rencontrons-nous afin de définir précisément votre problématique et la réponse que je peux vous apporter.
			<div class="button-zone">	
				{% include frontage/contact_button.html %}
			</div>
			<p class="lead">Besoin de connaître davantage mon champs de compétences ?
			<div class="button-zone">
				<a class="btn btn-primary" href="{{ site.freelanceurl }}/plaquette.html">
					Visitez ma plaquette
				</a>
			</div>
			
		</div>
	</section>
	<section id="missions" class="text-center container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p class="lead">Besoin d'un intermédiaire pour conclure une prestation ?</p>
				<p class="lead">Retrouvez moi sur Hopwork</p>
				 {% include frontage/hopwork_widget.html %}
				<p class="lead">ou sur Freelance Republik </p>
				{% include frontage/freelancerepublik_widget.html %}
				
			</div>
		</div>
	</section>
	<section class="text-center container-fluid">
		<p class="lead">Partagez sur les réseaux</p>
		{% include share_buttons.html %}
	</section>
	{% include frontage/back_home_section.html %}
</div>