---
layout: default
comments: true
---

<div class="page">
  <div class="main">
    <div class="post-content">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2>{{ page.subtitle }}</h2>
        {% endif %}
        <p class="meta">
          {{ page.date | date: "%B %-d, %Y" }}
          {% if page.author %} - {{ page.author }}{% endif %}
        </p>
        <div class="tags">
        {% for tag in page.tags %}
            <span class="tag">
                {{ tag }}
            </span>
        {% endfor %}
      </div>
      {% if page.feature-image %}
          <img src="{{ site.images }}/{{ page.feature-image }}" class="feature-image">
      {% endif %}

      <article>
        {{ content }}
      </article>

      <div class="share">
        <span><h2>Partagez cet article</h2></span>
        <!-- Social networks -->
        <span class="buttons">
          <span class='st_twitter_large' displayText='Tweet' st_via='{{site.theme.twitter}}'></span>
          <span class='st_linkedin_large' displayText='LinkedIn'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_email_large' displayText='Email'></span>
          <span class='st_sharethis_large' displayText='ShareThis'></span>
        </span>
      </div>


       
       <!-- Disqus -->
       {% if site.theme.disqus_shortname %}
       <div class="comments">
          {% include disqus.html %}
        </div>
        {% endif %}
      </div>    
      <nav class="navbar">
      {% include navbar.html tags=page.tags %}
      </nav> 
	  
  </div>
</div>
