---
layout: blog
---
<div class="call-out">
  <h1>
	{{ page.title }}
  </h1>
</div>
<div class="row">
	<div class="col-md-8">
		{% if page.category != "all" %}
			{% for post in site.categories[page.category] %}
				{% include blog/post_short.html %}
			{% endfor %}
		{% else %}
			{% for post in paginator.posts %}
				{% include blog/post_short.html %}
			{% endfor %}
		{% endif %}
		
		{% if page.category == "all" %}
			{% if paginator.total_pages > 1 %}
			  <div class="row">
				<div class="col-md-6 text-center padded-md">
				{% if paginator.previous_page %}
				  <a class="btn btn-success" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
					<i class="fa fa-chevron-left"></i>
					{{ site.theme.str_prev }}
				  </a>
				{% endif %}
				</div>
				<div class="col-md-6 text-center padded-md">
				{% if paginator.next_page %}
				 <a class="btn btn-success" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
				  {{ site.theme.str_next }}
				  <i class="fa fa-chevron-right"></i>
				</a>
				{% endif %}
				</div>
			  </div>
			{% endif %}
		{% endif %}
	</div>
	<div class="col-md-4">
	  {% include blog/navbar.html %}
	</div>
</div>
