---
layout: blog
comments: true
---

{% include blog/tag_computer.html %}

<article class="row">
	<div class="col-md-8">
		<div class="post">
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %}
			  <h2>{{ page.subtitle }}</h2>
			{% endif %}
			<p class="post-date">
			  {{ page.date | date: "%B %-d, %Y" }}
			  {% if page.author %} - {{ page.author }}{% endif %}
			</p>
			<div class="tags">
				{{ tags_content }}
			</div>
			{% if page.feature-image %}
				<img src="{{ site.images }}/{{ page.feature-image }}" class="pull-left margin-right feature-image">
			{% endif %}

			<article>
				{{ content }}
			</article>

			<div class="well">
				<div class="container">
					<div class="col-xs-12">
						<p class="lead">Partagez cet article</p>
					</div>
					<!-- Social networks -->
					{% include share_buttons.html %}
				</div>
			</div>


		   
			<!-- Disqus -->
			{% if site.theme.disqus_shortname %}
			<div class="comments">
				{% include blog/disqus.html %}
			</div>
			{% endif %}
		</div> 	 
	</div>
	<div class="col-md-4">
	  {% include blog/navbar.html tags=page.tags title=page.title %}
	 </div> 
</article>

