// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1em;

// Base colors
$grey: #C5DAE8;
$deep-blue: #3080B0; 

// Header description box
$header-desc-background-color: $deep-blue;
$header-desc-text-color: #FFF;

// Padding
$padding-large: 5%;
$padding-small: 2%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #000000;
$background-color: #E0F0FF;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images
$grey-background: $grey;

// Typography colours
$text-color: #383838;
$link-color: $deep-blue;
$link-hover-color:  #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #E0F0FF;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header
$header-height: 30px;

$lateral-navbar-width: 300px;
