// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1em;

// Padding
$padding-large: 5%;
$padding-small: 2%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #000000;
$background-color: #E0F0FF;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images
$grey-background: rgb(157, 182, 200);

// Typography colours
$text-color: #383838;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #E0F0FF;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #3080B0;
$header-desc-text-color: #FFF;

// Header
$header-height: 30px;

$lateral-navbar-width: 300px;
